


<table class="table">

    <thead class="thead-dark">
        <th></th>
<th>Name</th>
<th>Price</th>
<th>Units In Stock</th>


    </thead>
    <tbody>
<tr *ngFor ="let tempProduct of product">
    <td >
        <a routerLink="/products/{{ tempProduct.id }}">
      <img src= "{{tempProduct.imageUrl}}" height="50"/>
      </a>
    </td>
<td >
    <a routerLink="/products/{{ tempProduct.id }}">
    {{tempProduct.name}}
</a>
</td>
<td>
    {{tempProduct.unitPrice | currency :'INR'}} 
</td>
<td>
    {{tempProduct.unitsIntock}}
</td>
</tr>

    </tbody>
</table>

<!-- <p *ngFor ="let tempProduct of product">

    {{tempProduct.name}}: {{tempProduct.unitPrice | currency :'USD'}} 
</p> -->
